<form>
    <table class="table table-hover mt-5 text-center table-bordered w-100">
        <thead class="black white-text">
            <tr>
                <th class="tableColSize" scope="col">No</th>
                <th class="tableColSize" scope="col">Present Date</th>
                <th class="tableColSize" scope="col">Present Time</th>
                <th class="tableColSize" scope="col">Present</th>
                <th class="tableColSize" scope="col">Absent</th>
                <th class="tableColSize" scope="col">Updated Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="tableColSize" scope="row">1</th>
                <td class="tableColSize">3/8/2019</td>
                <td class="tableColSize">16:00</td>
                <td class="tableColSize">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultChecked3">
                        <label class="custom-control-label mx-1" for="defaultChecked3">Present</label>
                    </div>
                </td>
                <td class="tableColSize">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultChecked4">
                        <label class="custom-control-label mx-1" for="defaultChecked4">Absent</label>
                    </div>
                </td>
                <td class="tableColSize">3/8/2019</td>
            </tr>

        </tbody>
    </table>

    <button class="btn btn-green my-3" type="submit">Update</button>
</form>