<table class="table table-hover mt-5 text-center table-bordered w-100">
    <thead class="black white-text">
        <tr>
            <th class="tableColSize" scope="col">No</th>
            <th class="tableColSize" scope="col">Name</th>
            <th class="tableColSize" scope="col">ID</th>
            <th class="tableColSize" scope="col">Lesson</th>
            <th class="tableColSize" scope="col">Date</th>
            <th class="tableColSize" scope="col">Time</th>
            <th class="tableColSize" scope="col">Attendance</th>
            <th class="tableColSize" scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="tableColSize" scope="row">1</th>
            <td class="tableColSize">Raymond</td>
            <td class="tableColSize">CS595956</td>
            <td class="tableColSize">Drum Kit</td>
            <td class="tableColSize">23-06-2019</td>
            <td class="tableColSize">14:00</td>
            <td class="tableColSize">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </td>
            <td class="tableColSize d-flex justify-content-center">
                <button type="button" class="btn btn-success py-0 px-1 my-0 mx-1 text-capitalize">Present</button>
                <button type="button" class="btn btn-warning py-0 px-1 my-0 mx-1 text-capitalize">Absent</button>
                <button type="button" class="btn btn-unique py-0 px-1 my-0 mx-1 text-capitalize"> Edit</button>
                <button type="button" class="btn btn-info py-0 px-1 my-0 mx-1 text-capitalize"> Replacement</button>
            </td>
        </tr>

    </tbody>
</table>