<div class="card mt-5 mb-5 text-center">
    <p class="h4 my-4 font-weight-bold">Class Replacement</p>
    <form>
        <div class="card-body text-center px-0">
            <h5 class="card-title black-text"><i class="fas fa-id-card-alt mx-2"></i>Anna Doe</h5>
            <div class="d-flex justify-content-around  border-bottom py-3">
                <h6 class="card-title text-success"><i class="fas fa-id-card mx-1"></i>M159365</h6>
                <h6 class="card-title text-primary"><i class="fas fa-drum mx-1"></i>Drumk Kit</h6>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 p-2 border-right border-bottom">
                    <h6 class="font-weight-bold">Current</h6>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 p-2 border-bottom">
                    <h6 class="font-weight-bold">Recommendation</h6>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 p-2 border-right border-bottom">
                    <h6 class="font-weight-bold"><i class="far fa-calendar mx-2"></i></i>Date</h6>
                    <h6 class="blue-text">3-8-2019</h6>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 p-2 border-bottom">
                    <input type="date" class="form-control" placeholder="Post Code">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 p-2 border-right border-bottom">
                    <h6 class="font-weight-bold"><i class="far fa-calendar mx-2"></i></i>Time </h6>
                    <h6 class="blue-text">14:00</h6>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 p-2 border-bottom">
                    <input type="time" class="form-control" placeholder="Post Code">
                </div>
            </div>
        </div>
        <button class="btn btn-green my-3" type="submit">Update</button>
    </form>
</div>