<form class="text-center border border-light p-2 mt-5 rounded">
        <p class="h4 my-4 font-weight-bold">Update Event</p>
        <div class="row no-gutters">
            <div class="col-lg-6 col-12 p-2">
                <p class="font-weight-bold text-left mb-1">Title:</p>
                <input type="text" class="form-control" placeholder="Title">
            </div>
    
            <div class="col-lg-6 col-12 p-2">
                <p class="font-weight-bold text-left mb-1">Venue:</p>
                <input type="text" class="form-control" placeholder="Venue">
            </div>
    
            <div class="col-lg-6 col-12 p-2">
                <p class="font-weight-bold text-left mb-1">Date:</p>
                <input type="date" class="form-control">
            </div>
    
            <div class="col-lg-6 col-12 p-2">
                <p class="font-weight-bold text-left mb-1">Time:</p>
                <input type="time" class="form-control">
            </div>
    
            <div class="col-12 p-2">
                <p class="font-weight-bold text-left mb-1">Description:</p>
                <textarea class="form-control" placeholder="Description"></textarea>
            </div>
        </div>
    
        <button class="btn btn-dark-green my-3" type="submit">Update</button>
    </form>