<form class="text-center border border-light p-2 mt-5 rounded white">
    <p class="h4 my-4 font-weight-bold">Update Lesson</p>
    <div class="row no-gutters">
        <div class="col-lg-6 col-12 p-2">
            <p class="font-weight-bold text-left mb-1">Lesson:</p>
            <select class="browser-default custom-select mb-4">
                <option value="1" selected>Drum Kit</option>
                <option value="2">Mallet Percussion </option>
                <option value="3">Hand Drum </option>
                <option value="4">Western Percussion </option>
            </select>
        </div>

        <div class="col-lg-6 col-12 p-2">
            <p class="font-weight-bold text-left mb-1">Price:</p>
            <input type="text" class="form-control" placeholder="Price">
        </div>

        <div class="col-lg-6 col-12 p-2">
            <p class="font-weight-bold text-left mb-1">Number of Times:</p>
            <input type="text" class="form-control" placeholder="4">
        </div>

        <div class="col-lg-6 col-12 p-2">
            <p class="font-weight-bold text-left mb-1">Description:</p>
            <textarea class="form-control" placeholder="Description"></textarea>
        </div>
    </div>
    <button class="btn btn-green my-3" type="submit">Update</button>
</form>