<form class="text-center border border-light p-2 mt-5 rounded">
    <p class="h4 my-4 font-weight-bold">Admind Profile</p>
    <div class="row no-gutters">
        <div class="col-lg-6 col-12 p-2">
            <p class="font-weight-bold text-left mb-1">Name:</p>
            <input type="text" class="form-control" placeholder="Name">
        </div>

        <div class="col-lg-6 col-12 p-2">
            <p class="font-weight-bold text-left mb-1">Admin ID:</p>
            <input type="text" class="form-control" placeholder="Admin ID">
        </div>

        <div class="col-lg-6 col-12 p-2">
            <p class="font-weight-bold text-left mb-1">Username:</p>
            <input type="text" class="form-control" placeholder="Username">
        </div>

        <div class="col-lg-6 col-12 p-2">
            <p class="font-weight-bold text-left mb-1">Password:</p>
            <input type="password" class="form-control">
        </div>

    </div>
    <button class="btn btn-info my-3" type="submit">Update</button>
</form>