<div class="text-center border border-light p-2 mt-5 rounded white table-responsive text-nowrap">
    <p class="h4 my-4 font-weight-bold">Yearly Report </p>
    <table class="table table-hover mt-5 text-center table-bordered w-100 white table-hover">
        <thead class="black white-text">
            <tr>
                <th class="tableColSize" scope="col">No</th>
                <th class="tableColSize" scope="col">Month</th>
                <th class="tableColSize" scope="col">Total Paid(RM)</th>
                <th class="tableColSize" scope="col">Total Unpaid(RM)</th>
                <th class="tableColSize" scope="col">Total Replacement</th>
                <th class="tableColSize" scope="col">Total Leave</th>
                <th class="tableColSize" scope="col">Total Absent </th>
                <th class="tableColSize" scope="col">Total Class</th>
                <th class="tableColSize" scope="col">Total Event</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="tableColSize" scope="row">2</th>
                <td class="tableColSize">January</td>
                <td class="tableColSize">4545</td>
                <td class="tableColSize">1050</td>
                <td class="tableColSize">30</td>
                <td class="tableColSize">20</td>
                <td class="tableColSize">10</td>
                <td class="tableColSize">44</td>
                <td class="tableColSize">4</td>
            </tr>
            <tr>
                <th class="tableColSize" scope="row">3</th>
                <td class="tableColSize">February</td>
                <td class="tableColSize">4545</td>
                <td class="tableColSize">1050</td>
                <td class="tableColSize">30</td>
                <td class="tableColSize">20</td>
                <td class="tableColSize">10</td>
                <td class="tableColSize">44</td>
                <td class="tableColSize">4</td>
            </tr>
            <tr>
                <th class="tableColSize" scope="row">4</th>
                <td class="tableColSize">March</td>
                <td class="tableColSize">4545</td>
                <td class="tableColSize">1050</td>
                <td class="tableColSize">30</td>
                <td class="tableColSize">20</td>
                <td class="tableColSize">10</td>
                <td class="tableColSize">44</td>
                <td class="tableColSize">4</td>
            </tr>
            <tr>
                <th class="tableColSize" scope="row">5</th>
                <td class="tableColSize">April</td>
                <td class="tableColSize">4545</td>
                <td class="tableColSize">1050</td>
                <td class="tableColSize">30</td>
                <td class="tableColSize">20</td>
                <td class="tableColSize">10</td>
                <td class="tableColSize">44</td>
                <td class="tableColSize">4</td>
            </tr>
            <tr>
                <th class="tableColSize" scope="row">6</th>
                <td class="tableColSize">May</td>
                <td class="tableColSize">4545</td>
                <td class="tableColSize">1050</td>
                <td class="tableColSize">30</td>
                <td class="tableColSize">20</td>
                <td class="tableColSize">10</td>
                <td class="tableColSize">44</td>
                <td class="tableColSize">4</td>
            </tr>
            <tr>
                <th class="tableColSize" scope="row">7 </th>
                <td class="tableColSize">June</td>
                <td class="tableColSize">4545</td>
                <td class="tableColSize">1050</td>
                <td class="tableColSize">30</td>
                <td class="tableColSize">20</td>
                <td class="tableColSize">10</td>
                <td class="tableColSize">44</td>
                <td class="tableColSize">4</td>
            </tr>
            <tr>
                <th class="tableColSize" scope="row">8</th>
                <td class="tableColSize">July</td>
                <td class="tableColSize">4545</td>
                <td class="tableColSize">1050</td>
                <td class="tableColSize">30</td>
                <td class="tableColSize">20</td>
                <td class="tableColSize">10</td>
                <td class="tableColSize">44</td>
                <td class="tableColSize">4</td>
            </tr>
            <tr>
                <th class="tableColSize" scope="row">9</th>
                <td class="tableColSize">August</td>
                <td class="tableColSize">4545</td>
                <td class="tableColSize">1050</td>
                <td class="tableColSize">30</td>
                <td class="tableColSize">20</td>
                <td class="tableColSize">10</td>
                <td class="tableColSize">44</td>
                <td class="tableColSize">4</td>
            </tr>
            <tr>
                <th class="tableColSize" scope="row">10</th>
                <td class="tableColSize">October</td>
                <td class="tableColSize">4545</td>
                <td class="tableColSize">1050</td>
                <td class="tableColSize">30</td>
                <td class="tableColSize">20</td>
                <td class="tableColSize">10</td>
                <td class="tableColSize">44</td>
                <td class="tableColSize">4</td>
            </tr>
            <tr>
                <th class="tableColSize" scope="row">11</th>
                <td class="tableColSize">November</td>
                <td class="tableColSize">4545</td>
                <td class="tableColSize">1050</td>
                <td class="tableColSize">30</td>
                <td class="tableColSize">20</td>
                <td class="tableColSize">10</td>
                <td class="tableColSize">44</td>
                <td class="tableColSize">4</td>
            </tr>
            <tr>
                <th class="tableColSize" scope="row">12</th>
                <td class="tableColSize">December</td>
                <td class="tableColSize">4545</td>
                <td class="tableColSize">1050</td>
                <td class="tableColSize">30</td>
                <td class="tableColSize">20</td>
                <td class="tableColSize">10</td>
                <td class="tableColSize">44</td>
                <td class="tableColSize">4</td>
            </tr>
            <tr>
                <th class="tableColSize border-0" scope="row"></th>
                <td class="tableColSize font-weight-bold">Total</td>
                <td class="tableColSize green white-text">54 540</td>
                <td class="tableColSize red white-text">360‬</td>
                <td class="tableColSize black white-text">240</td>
                <td class="tableColSize blue white-text">120</td>
                <td class="tableColSize purple white-text">528</td>
                <td class="tableColSize yellow white-text">44</td>
                <td class="tableColSize grey white-text">48</td>
            </tr>
        </tbody>
    </table>
</div>