<div class="sidebar active">
    <div class="top_title">
        <a href="#">
            <i class="fas fa-paw"></i>
            <span>Music System</span>
        </a>
    </div>
    <div class="profile">
        <div class="profile_image">
            <img src="../../src/img/img.webp">
        </div>
        <div class="profile_info">
            <span>
                Welcome,
            </span>
            <h2>
                Kenny
            </h2>
        </div>
    </div>
    <div class="sidebar_menu">
        <div class="menu_section">
            <h3>Admin</h3>
            <ul>
                <li class="openChild">
                    <a href="../student/page_studentList.html">
                        <i class="fas fa-user-graduate"></i>
                        Student
                        <span>
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul class="child_menu">
                        <li>
                            <a>Dashboard</a>
                        </li>
                        <li>
                            <a>Dashboard2</a>
                        </li>
                        <li>
                            <a>Dashboard3</a>
                        </li>
                    </ul>
                </li>
                <li class="openChild">
                    <a href="../timetable/page_timetable.html">
                        <i class="fas fa-list-alt"></i>
                        Timetable
                        <span>
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul class="child_menu">
                        <li>
                            <a>General Form</a>
                        </li>
                        <li>
                            <a>Advanced Components</a>
                        </li>
                        <li>
                            <a>Form Validation</a>
                        </li>
                        <li>
                            <a>Form Wizard</a>
                        </li>
                        <li>
                            <a>Form Upload</a>
                        </li>
                        <li>
                            <a>Form Buttons</a>
                        </li>
                    </ul>
                </li>
                <li class="openChild">
                    <a href="../attendance/page_attendanceTable.html">
                        <i class="far fa-calendar-check"></i>
                        Attendance
                        <span>
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul class="child_menu">
                        <li>
                            <a>General Elements</a>
                        </li>
                        <li>
                            <a>Media Gallery</a>
                        </li>
                        <li>
                            <a>Typography</a>
                        </li>
                        <li>
                            <a>Icons</a>
                        </li>
                        <li>
                            <a>Glyphicons</a>
                        </li>
                        <li>
                            <a>Widgets</a>
                        </li>
                        <li>
                            <a>Invoice</a>
                        </li>
                        <li>
                            <a>Inbox</a>
                        </li>
                        <li>
                            <a>Calendar</a>
                        </li>
                    </ul>
                </li>
                <li class="openChild">
                    <a href="../event/page_event.html">
                        <i class="far fa-calendar-alt"></i>
                        Event
                        <span>
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul class="child_menu">
                        <li>
                            <a>Tables</a>
                        </li>
                        <li>
                            <a>Table Dynamic</a>
                        </li>
                    </ul>
                </li>
                <li class="openChild">
                    <a href="../lesson/page_lesson.html">
                        <i class="fas fa-clipboard-list"></i>
                        Lesson
                        <span>
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul class="child_menu">
                        <li>
                            <a>Chart JS</a>
                        </li>
                        <li>
                            <a>Chart JS2</a>
                        </li>
                        <li>
                            <a>Moris JS</a>
                        </li>
                        <li>
                            <a>ECharts</a>
                        </li>
                        <li>
                            <a>Other Charts</a>
                        </li>
                    </ul>
                </li>
                <li class="openChild">
                    <a href="../report/page_report.html">
                        <i class="far fa-copy"></i>
                        Report
                        <span>
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul class="child_menu">
                        <li>
                            <a>Fixed Sidebar</a>
                        </li>
                        <li>
                            <a>Fixed Footer</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>