<div class="card py-5 px-2 mt-5">
    <h2 class="card-title h2 text-center">Student List</h2>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-success btn-block  p-1 mr-2 mt-4" style="width:50px;">Add</button>
    </div>
    <table class="table table-hover mt-3 text-center table-bordered w-100 white">
        <thead class="black white-text">
            <tr>
                <th class="tableColSize" scope="col">No</th>
                <th class="tableColSize" scope="col">Name</th>
                <th class="tableColSize" scope="col">ID</th>
                <th class="tableColSize" scope="col">Status</th>
                <th class="tableColSize" scope="col">Attendance</th>
                <th class="tableColSize" scope="col">Lesson Type</th>
                <th class="tableColSize" scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="tableColSize" scope="row">1</th>
                <td class="tableColSize">Mark</td>
                <td class="tableColSize">Otto</td>
                <td class="tableColSize"><span class="badge badge-success">Available</span></td>
                <td class="tableColSize">
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </td>
                <td class="tableColSize">guitar</td>
                <td class="tableColSize">
                    <button type="button" class="btn btn-unique p-1 m-0">Edit</button>
                    <button type="button" class="btn btn-indigo p-1 m-0">View</button>
                    <button type="button" class="btn btn-info p-1 m-0">Timetable</button>
                    <button type="button" class="btn btn-danger p-1 m-0">Ban</button>
                </td>
            </tr>
            <tr>
                <th class="tableColSize" scope="row">2</th>
                <td class="tableColSize">cindy</td>
                <td class="tableColSize">Otto</td>
                <td class="tableColSize"><span class="badge badge-danger">Drop out</span></td>
                <td class="tableColSize">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </td>
                <td class="tableColSize">drum kit</td>
                <td class="tableColSize">
                    <button type="button" class="btn btn-unique p-1 m-0">Edit</button>
                    <button type="button" class="btn btn-indigo p-1 m-0">View</button>
                    <button type="button" class="btn btn-info p-1 m-0">Timetable</button>
                    <button type="button" class="btn btn-danger p-1 m-0">Ban</button>
                </td>
            </tr>
            <tr>
                <th class="tableColSize" scope="row">2</th>
                <td class="tableColSize">kenny</td>
                <td class="tableColSize">Otto</td>
                <td class="tableColSize"><span class="badge badge-warning">Finished</span></td>
                <td class="tableColSize">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </td>
                <td class="tableColSize">piano</td>
                <td class="tableColSize">
                    <button type="button" class="btn btn-unique p-1 m-0">Edit</button>
                    <button type="button" class="btn btn-indigo p-1 m-0">View</button>
                    <button type="button" class="btn btn-info p-1 m-0">Timetable</button>
                    <button type="button" class="btn btn-danger p-1 m-0">Ban</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>