<div class="card mt-5">
    <div class="d-flex justify-content-end"><button type="button" class="btn btn-unique p-1 m-5"
            style="width: 50px;">Edit</button></div>
    <div class="avatar mx-auto white">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" width="150" height="150"
            class="rounded-circle my-5">
    </div>

    <div class="card-body text-center px-0">
        <h5 class="card-title black-text"><i class="fas fa-file-signature mx-2"></i>Anna Doe</h5>
        <h5 class="card-title text-success">M159365</h5>
        <hr class="">
        <div class="row no-gutters">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 p-2 border-right border-bottom">
                <h6 class="font-weight-bold"><i class="fas fa-file-signature mx-2"></i>Lesson</h6>
                <h6>Drum Kit</h6>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 p-2 border-bottom">
                <h6 class="font-weight-bold"><i class="far fa-calendar mx-2"></i></i>Date of Birth</h6>
                <h6>2-5-2010</h6>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-12 p-2 border-right border-bottom">
                <h6 class="font-weight-bold"><i class="fas fa-file-signature mx-2"></i>Father`s Name</h6>
                <h6>Peter Wong </h6>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 p-2 border-bottom">
                <h6 class="font-weight-bold"><i class="fas fa-file-signature mx-2"></i>Mother`s Name</h6>
                <h6>Sandy Hong</h6>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 p-2 border-right border-bottom">
                <h6 class="font-weight-bold"><i class="fas fa-phone mx-2"></i>Primary Contact Numbe</h6>
                <h6>012-7568462</h6>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 p-2 border-bottom">
                <h6 class="font-weight-bold"><i class="fas fa-phone mx-2"></i></i>Secondary Contact Number</h6>
                <h6>012-7568462</h6>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-12 p-2 border-right border-bottom">
                <h6 class="font-weight-bold"><i class="fas fa-phone mx-2"></i>Business Contact Number</h6>
                <h6>012-7568462</h6>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 p-2 border-bottom">
                <h6 class="font-weight-bold"><i class="fas fa-file-signature mx-2"></i></i>Emengercy Contact Name</h6>
                <h6>Sandy Hong</h6>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-12 p-2 border-right border-bottom">
                <h6 class="font-weight-bold"><i class="fas fa-map-marker-alt mx-2"></i>Address</h6>
                <h6>JKR 847, Jalan Raya, 81000, Kulai, Johor</h6>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 p-2 border-bottom">
                <h6 class="font-weight-bold"><i class="fas fa-map-marker-alt mx-2"></i></i>City </h6>
                <h6>Kulai</h6>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-12 p-2 border-right border-bottom">
                <h6 class="font-weight-bold"><i class="fas fa-map-marker-alt mx-2"></i>Post Code </h6>
                <h6>81000</h6>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 p-2 border-bottom">
                <h6 class="font-weight-bold"><i class="fas fa-mail-bulk mx-2"></i></i>Email</h6>
                <h6>SandyHong@gmail.com</h6>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 p-2">
                <h6 class="font-weight-bold"><i class="far fa-file mx-2"></i></i>Ofther Information</h6>
                <h6 class="px-5">Prevent long strings of text from breaking your components’ layout by using .text-break
                    to set
                    overflow-wrap: break-word </h6>
            </div>
        </div>
    </div>

</div>