<div class="text-center border border-light p-2 mt-5 rounded white table-responsive text-nowrap">
    <p class="h4 my-4 font-weight-bold">Timetable Today </p>
    <p class="red-text my-4 font-weight-bold"><i class="far fa-calendar mr-1"></i> 2019-8-11</p>
    <table class="table table-hover mt-5 text-center table-bordered w-100 white table-hover">
        <thead class="black white-text">
            <tr>
                <th class="tableColSize" scope="col">No</th>
                <th class="tableColSize red-text" scope="col">Time</th>
                <th class="tableColSize light-blue-text" scope="col">Lesson</th>
                <th class="tableColSize green-text" scope="col">Student</th>
                <th class="tableColSize" scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="tableColSize" scope="row">1</th>
                <td class="tableColSize">1-2 <b>PM</b></td>
                <th class="tableColSize" scope="row">Piano</th>
                <td class="tableColSize">cindy</td>
                <td class="tableColSize">
                    <button type="button" class="btn btn-indigo p-1 m-0">View</button>
                </td>
            </tr>
            <tr>
                <th class="tableColSize" scope="row">2</th>
                <td class="tableColSize">2-3 <b>PM</b></td>
                <th class="tableColSize" scope="row">Piano </th>
                <td class="tableColSize">cindy</td>
                <td class="tableColSize">
                    <button type="button" class="btn btn-indigo p-1 m-0">View</button>
                </td>
            </tr>
            <tr>
                <th class="tableColSize" scope="row">3</th>
                <td class="tableColSize">3-4 <b>PM</b></td>
                <th class="tableColSize" scope="row">drum kit</th>
                <td class="tableColSize">kenny</td>
                <td class="tableColSize">
                    <button type="button" class="btn btn-indigo p-1 m-0">View</button>
                </td>
            </tr>
            <tr>
                <th class="tableColSize" scope="row">4</th>
                <td class="tableColSize">4-5 <b>PM</b></td>
                <th class="tableColSize" scope="row">drum kit </th>
                <td class="tableColSize">kenny</td>
                <td class="tableColSize">
                    <button type="button" class="btn btn-indigo p-1 m-0">View</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>