<div class="jumbotron text-center">
    <h2 class="card-title h2">TimeTable</h2>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 pb-2">
            <p class="red-text my-4 font-weight-bold"><i class="far fa-calendar mr-1"></i> 2019-8-11</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 pb-2">
            <p class="blue-text my-4 font-weight-bold"><i class="far fa-clock mr-1"></i></i>1.00 PM</p>
        </div>
    </div>
    <input class="form-control form-control-lg" type="date">
    <hr class="my-4">
    <div class="pt-2">
        <button type="button" class="btn btn-green waves-effect">Start</button>
    </div>
</div>