<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/mdb.min.css" rel="stylesheet">
    <link href="../../css/style.css" rel="stylesheet">
    <style>
        * {
            /* border: solid 1px red; */
        }
    </style>
</head>

<body style="height: 100vh;">
    <div class="d-flex justify-content-center align-items-center h-100">
        <form class="text-center border border-light p-5 z-depth-2 rounded">
            <p class="h4 mb-4">Music System</p>
            <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Username">
            <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
            <div class="d-flex justify-content-around">
                <div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                        <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                    </div>
                </div>
                <div>
                    <a href="">Forgot password?</a>
                </div>
            </div>
            <button class="btn btn-info my-4" type="submit">Sign in</button>
        </form>
    </div>


    <script type="text/javascript" src="../../js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../../js/popper.min.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/mdb.min.js"></script>
</body>

</html>